body{
  background-color:rgb(10, 10, 10)
}

html, body{
  height: 100%;    
  margin: 0;     
  padding: 0;
}

@font-face {
  font-family: 'irish';
  src: url('IrishGrover.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'midnight';
  src: url('midnight.ttf') format('truetype');
  font-weight: normal;
}

#root {
  height: 100%;    
  display: flex;   
  }

.parchment{
  background-image:url('https://res.cloudinary.com/dy2nnbnek/image/upload/v1734598864/DD_Grunge_Background_45623_DD-Grunge-Background-45623-Preview_1_bdv7l3.jpg') ;
  width: 95%;
  height:85%;
  background-size: cover;
  border-radius: 2%;
  margin: 3%;
  margin-top: 5%;
}




.btn-nav{
  width: 100%;
  max-height: 2.5%;
  display: inline-block;
  display: flex ;
  
}

#quit{
  background-color: #B48F6A;
    color: black;
    border: none;
    padding: 2% 14%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 190%;
    margin-left: 105%;
    margin-top:-2%;
    font-family: 'irish';
}

#start-new-game{
  background-color: #B48F6A;
    color: black;
    border: none;
    padding: 2% 1%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 190%;
    margin-left: 5%;
    margin-top:-2%;
    font-family: 'irish';
}

#hint{
  background-color: #B48F6A;
    color: black;
    border: none;
    padding: 2% 1%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 190%;
    margin-left: 1%;
    margin-top:-2%;
    font-family: 'irish';
}

.cover{
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'irish';
    font-size: 250%;
    margin-top: -4%;
    text-shadow: 3px 8px 8px rgba(0, 0, 0, 0.705);
  }

  #hint:hover, #start-new-game:hover, #quit:hover{
    background-color: #9e7f5f; 
    transform: translateY(-3px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  } 

  #grid {
    background-color: #9e7f5f8c;
    padding: 3%; /* Add padding inside */
    border-radius: 5%; /* Keep rounded corners */
    margin-left: auto; /* Center the grid horizontally */
    margin-right: auto; /* Center the grid horizontally */
    width: fit-content; /* Ensure the grid container adjusts to fit the content */
    max-width: 95%; /* Prevent the grid from becoming too wide */
    height: fit-content; /* Adjust the height to fit content */
    box-sizing: border-box; /* Ensure padding and border are inside the dimensions */
    display: flex;
    justify-content: center; /* Center the grid inside */
    align-items: center; /* Vertically center the grid */
}